header h1{
    text-align: center;
}
.headerbild{
    display: block;
    width: 100%;
    height: 400px;
}
.vanligbild{
    width: 30%;
}
blockquote{
    font-style: italic;
    padding: 1rem;
    margin: 1.4rem 0;
    border-left: 4px solid #ccc;
}
.inledning{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}
body{
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px){
    .vanligbild{
        width: 50%;
    }
    .headerbild{
    display: block;
    width: 100%;
    height: 300px;
    }
}